body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;

  background-image: url("src/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
}